extends layout

block content
  h1= title
<<<<<<< HEAD
 <<<<<<< HEAD
	p I think Javascript is better than Python
=======
	p Python <3
>>>>>>> master
=======
  p Turn Back! Its a trap!
  p test2
>>>>>>> test2
